*, *:before, *:after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background: none;
}

p, a, h1, h2, h3, h4, h5, h6, div {
  font-family: Arial, Helvetica, sans-serif;
}

/* MD - Color */
/* COLOR
	https://material.io/tools/color/#!/?view.left=1&view.right=0&primary.color=546e7a
*/
.backc-white { background: #FFFFFF; }

.backc-black { background: #000000; }

.backc-grey, body { background: #E3E3E3; }

.backc-primary { background: #546e7a; }

.backc-primary-light, .btn-large, .btn-small, .btn-floating, .active { background: #819ca9; }

.backc-primary-dark, .btn { background: #29434e; }

.color-white, .btn, .btn-large, .btn-small, .btn-floating { color: #FFFFFF; }

.color-black { color: #000000; }

.color-grey { color: #E3E3E3; }

.color-primary { color: #546e7a; }

.color-primary-light { color: #819ca9; }

.color-primary-dark { color: #29434e; }

div {
	display: block;
}

a {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  color: white;
}

i {
  color: white;
  display: inline;
  font-size: 36px;
}

.spinner::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  height: 60px;
  width: 60px;
  margin-top: -30px;
  margin-left: -30px;
  border-radius: 50%;
  border-top: 4px solid #546E7A;
  border-right: 2px solid transparent;
  animation: spinner 1s linear infinite;
}

.spinner {
  height: 90vh;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

/* Will be fixed in future updates
.expand {
  margin-bottom: 0 !important;
}
*/

.add {
  display: none;
  overflow: hidden;
}

.add p {
    padding: 10px 18px;
}

.btn p {
  display: inline;
}

.cat {
  padding-inline-start: 4px;
  border-bottom: 1px solid black;
  margin-bottom: 12px;
}

/* iCard */

.icard {
  min-height: 64px;
}

.icard .fas {
  padding-left: 6px;
  color: black;
  font-size: 18px;
}

.icard .icon {
  position: relative;
  height: 48px;
  width: 48px;
  margin-right: 12px; 
  border-radius: 50%;
  display: table;
  float: left;
}

.icard .icon p {
  text-align: center;
  color: white;
  display: table-cell;
  vertical-align: middle;
  font-size: 20px;
  font-weight: bold;
}

.icard .text .head {
  font-weight: bold;
  font-size: 18px;
}

.icard .text .head-right {
  color: black;
  float: right;
  margin-top: -21px;
  font-size: 18px;
}

.icard .text .sub {
  font-size: 18px;
  padding-top: 8px;
  margin-bottom: -2px; 
}

.icard .text .sub-right {
  margin-top: -19px; 
  font-size: 18px;
  float: right;
}

footer {
  border-top: 1px solid black;
  background: white;
}

footer a {
  text-align: center;
	display: block;
	width: 33.33%;
	float: left;
	overflow: hidden;
	text-decoration: none;
	color: black;
  padding: 8px 0;
  background: white;
}

/* Align */
.left-align { text-align: left; }
.right-align { text-align: right; }
.center-align { text-align: center; }

.left { float: left !important; }
.right { float: right !important; }
.center { 
	margin-left: auto;
 	margin-right: auto; 
 }

header {
  z-index: 10;
  padding: 10px;
  background-color: #546E7A;
  height: 56px;
  width: 100%;
  position: fixed;
  top: 0;
}

#main {
  margin-top: 56px;
  padding: 10px 5%;
}

/* Buttons */

.btn-large {
  height: 54px;
  line-height: 54px;
  font-size: 15px;
  padding: 0 28px;
}

.btn-small {
  height: 32.4px;
  line-height: 32.4px;
  font-size: 13px;
}

.btn, .btn-large, .btn-small {
  text-decoration: none;
  text-align: center;
  letter-spacing: .5px;
  -webkit-transition: background-color .2s ease-out;
  transition: background-color .2s ease-out;
  cursor: pointer;
}

.btn-flat {
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: transparent;
  color: #343434;
  cursor: pointer;
  -webkit-transition: background-color .2s;
  transition: background-color .2s;
}

.btn-floating {
  display: inline-block;
  color: #fff;
  position: relative;
  overflow: hidden;
  z-index: 45;
  width: 40px;
  height: 40px;
  line-height: 40px;
  padding: 0;
  border-radius: 50%;
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
  cursor: pointer;
  vertical-align: middle;
}

.btn[disabled], .btn-large[disabled], .btn-small[disabled], .btn-floating[disabled], .btn-flat[disabled] {
  pointer-events: none;
  background-color: #DFDFDF !important;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #9F9F9F !important;
  cursor: default;
}

.btn, .btn-large, .btn-small, .btn-floating, .btn-flat {
  font-size: 14px;
  outline: 0;
}

.btn, .btn-large, .btn-small, .btn-flat {
  border: none;
  border-radius: 2px;
  display: inline-block;
  height: 36px;
  line-height: 36px;
  padding: 0 16px;
  text-transform: uppercase;
  vertical-align: middle;
  -webkit-tap-highlight-color: transparent;
}

.fixed-action-btn {
  position: fixed;
  right: 5%;
  bottom: 5%;
  padding-top: 15px;
  margin-bottom: 0;
  z-index: 45;
}

.card, .icard {
  position: relative;
  margin: .5rem 0 1rem 0;
  background-color: #fff;
  -webkit-transition: -webkit-box-shadow .25s;
  transition: -webkit-box-shadow .25s;
  transition: box-shadow .25s;
  transition: box-shadow .25s, -webkit-box-shadow .25s;
  border-radius: 2px;
  padding: 8px;
}

img {
  border-style: none;
}

table, th, td {
  border: none;
}

.circle {
  border-radius: 50%;
}

/* MD - Depth */
.depth-0 {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.depth-1, .card, .icard, .toast, .btn, .btn-large, .btn-small, .btn-floating, #header {
  -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 
            0 3px 1px -2px rgba(0,0,0,0.12), 
            0 1px 5px 0 rgba(0,0,0,0.2);
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 
        0 3px 1px -2px rgba(0,0,0,0.12), 
        0 1px 5px 0 rgba(0,0,0,0.2);
}

.depth-2 {
  -webkit-box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 
            0 1px 10px 0 rgba(0,0,0,0.12),
            0 2px 4px -1px rgba(0,0,0,0.3);
  box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 
        0 1px 10px 0 rgba(0,0,0,0.12), 
        0 2px 4px -1px rgba(0,0,0,0.3);
}

.depth-3 {
  -webkit-box-shadow: 0 8px 17px 2px rgba(0,0,0,0.14), 
            0 3px 14px 2px rgba(0,0,0,0.12), 
            5px 5px -3px rgba(0,0,0,0.2);
  box-shadow: 0 8px 17px 2px rgba(0,0,0,0.14), 
        0 3px 14px 2px rgba(0,0,0,0.12), 
        0 5px 5px -3px rgba(0,0,0,0.2);
}

.depth-4 {
  -webkit-box-shadow: 0 16px 24px 2px rgba(0,0,0,0.14), 
            0 6px 30px 5px rgba(0,0,0,0.12), 
            0 8px 10px -7px rgba(0,0,0,0.2);
  box-shadow: 0 16px 24px 2px rgba(0,0,0,0.14), 
        0 6px 30px 5px rgba(0,0,0,0.12), 
        0 8px 10px -7px rgba(0,0,0,0.2);
}

.depth-5 {
  -webkit-box-shadow: 0 24px 38px 3px rgba(0,0,0,0.14), 
            0 9px 46px 8px rgba(0,0,0,0.12), 
            0 11px 15px -7px rgba(0,0,0,0.2);
  box-shadow: 0 24px 38px 3px rgba(0,0,0,0.14), 
        0 9px 46px 8px rgba(0,0,0,0.12), 
        0 11px 15px -7px rgba(0,0,0,0.2);
}

[hoverable]:hover {
  -webkit-box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2), 
            0 6px 20px 0 rgba(0,0,0,0.19);
  box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2), 
        0 6px 20px 0 rgba(0,0,0,0.19);
}


/* Nvigation */

#overlay {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 50;
  cursor: pointer;
}

/* The side navigation menu */
#sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 51; /* Stay on top */
  top: 0;
  left: 0;
  background-color: #819ca9; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}
  
/* The navigation menu links */
#sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 2.4rem;
  color: white;
  display: block;
  transition: 0.3s;
 }

/* When you mouse over the navigation links, change their color */
#sidenav a:hover, #sidenav i:hover {
  color: #546e7a;
}
  
/* Position and style the close button (top right corner) */
#sidenav .closebtn {
  position: absolute;
  top: 10px;
  right: 25px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  #sidenav {padding-top: 15px;}
  #sidenav a {font-size: 18px;}
}
